<div class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
      </button>

      <span class="app-title">WeatherScope</span>
    </div>
  </header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      autoFocus="false"
      mode="over"
      [(opened)]="isMenuOpen"
      class="sidenav"
      (click)="onSidenavClick()"
    >
      <app-side-bar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
