.sidenav-container {
    flex: 1;

    .sidenav {
        min-width: 240px;


    }

    main {
        padding: 18px 24px;
    }
}

.page-container {
    height: 100%;
    background: #fafafa;
    color: #000;
    display: flex;
    flex-direction: column;



    header {
        background: #3f51b5;
        color: #fff;
        padding: 18px 24px;

        font-size: 14px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        .menu-button {
            margin-right: 24px;
            min-width: 0;
            padding: 0;
            line-height: normal;
        }

        .app-title {
            padding: 0 3px;
        }
    }
}

// .main{
//     border-style: solid;
// }